button {
    cursor: pointer;
    background-color: transparent;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}