.hero-image__wrapper {
    height: 100vh;
    position: relative;

    & .image_1{
        background-image: url(./assets/playa_2.png);
    }

    & .image_2{
        background-image: url(./assets/playa_3.png);
    }

    & .image_3{
        background-image: url(./assets/poof.png);
    }
}

.hero-image__image {
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: 30% 50%;

    @include lg {
        background-position: 50% 50%;
    }
}

.hero-image__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @include lg {
        gap: 5rem;
    }

    h1 {
        color: #fff;
        font-size: 1.5rem;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        @include md {
            font-size: 3rem;
        }

        @include lg {
            font-size: 3.5rem;
        }
    }

    .shop-button {
        padding: .5rem 1rem;
        color: #000;
        border: none;
        color: #fff;
        border: .125rem solid #fff;
        font-weight: 500;
        width: 5.5rem;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        @include md {
            font-size: 1rem;
            width: 8rem;
            padding: 1rem 1rem;
            border-width: .25rem;
        }
    }
}

.hero_image__slide-buttons{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    z-index: 10;

    .hero_image__slide-button{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: .5;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
            opacity: 1;
        }

        &.active{
            opacity: 1;
        }
    }
}