.navbar__wrapper {
    position: absolute;
    width: 100%;
    padding: .5rem;
    z-index: 1;

    @include md {
        padding: 2rem;
    }

    @include lg{
        padding: 3rem;
    }

    & img{
        width: 6.25rem;
        height: 3.125rem;
    }
}