.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    &::-webkit-scrollbar{
        width: 0px;
    }
    &::-webkit-scrollbar-thumb{
        background: transparent;
        border-radius: 0px;
    }
}